body{
  padding:0;
  margin: 0;
 
}
.flex-card{
  display: flex;
}
.red{
  border: 1px solid red;
}
.true{
  margin-top: 10px;
  font-weight: bold;
  color: #3e8e41;
  font-size: 18px;
}
.body{
  width: 400px;
background-color: aliceblue;
padding: 10px;
}
#timer{
  padding: 0;

  font-size: 20px;
  color: red;
  font-weight: bold;
}
h1{
  text-align: center;
  color: sandybrown;
}
#anss{
  margin-left: 10px;
}
.display{
  
  margin-left: -50%;

}
input{
  width: 350px;
  border-radius: 20px;
  border: 1px solid blue;
  padding: 5px;
}
p{
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin: 10px 35%;
}

.button:hover {
  background-color: #3e8e41; /* Dark green */
}
@media only screen and (min-width: 350px) {
  .body {
    width: 95%;
  }
  input{
    width: 95%;
  }
  p{
    font-size: 23px;
  }
}
@media only screen and (min-width: 450px) {
  .body {
    width: 95%;
  }
  input{
    width: 95%;
  }
}
@media only screen and (min-width: 600px) {
  .body {
    width: 100%;
  }
  input{
    width: 95%;
  }
}
@media only screen and (min-width: 768px) {
  .body {
    width: 700px;
  }
  input{
    width: 95%;
  }
  
}
